.contact-h1{font-size:30px;}
.link-color{color: green;}
.feature-logos{height: 1000px;width: 100px;}
.ntv{height: 300px;width: 150px;}
.youtube-logo{height: 300px;
width: 200px;}
.ubc{height: 300px;width: 200px;}
.youtube-channel{width: 50px}
.logo-edit{height: 50px;width: 80px;}
.img-edit{
	 margin: 0 auto;
    width: 100%;
    padding: 100px 0px;
}
  .contact-img img {
    width: 100%;
  }
  .header-text{
  	font-size: 15px
  }
.case-study1 {
  padding-top: 80px;
  margin-bottom: 10px;
  background:#0c151f;
}

.case-study1 .content h4 {
  padding-bottom: 13px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
}

.case-study1 .content p {
  font-size: 14px;
  color: white;
}

.case-study1 .content .btn {
  margin-top: 30px;
}
.case-study-title{
	font-size: 30px;
	color: white
}
.case-study-white{
color: white;
}
.button{
text-align: center;

}
.read{
	border-radius: 50px;
	border-color: blue;
	background: white;
}
.img-content{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;

}
#contenttext{
text-align: center;
display: block;
justify-content: center;
}
.iframe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

 
}
.iframe{
width: 500px;

}
.my_class_name {
  padding: 6px;
  border: 9px inset #8e44ad;
}
*
{
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
.img-responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border-style: inset;

  box-shadow: 10px 10px 30px 0px #0c151f;
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
.faq-container{
    max-width: 600px;
    margin: 0 auto;
}

.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: #0c51f1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 
    6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font awesome 5 free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title{
    margin: 0 35px 0 0;
}

.faq-text{
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text{
    display: block;
}

.faq-toggle{
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.faq-toggle:focus{
    outline: none;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
    color: white;
}

.faq.active .faq-toggle .fa-chevron-down{
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}
